{% extends "generic.html" %}
{% load crispy_forms_tags %}
{% block title %}Profil{% endblock %}
{% block header_title %}Mój Profil{% endblock %}
{% block content %}
<h2 class="mt-2">{{ user.first_name }} {{ user.last_name }}</h2>
<p>
    {{ user.therapist.specialisation_str }}<br>
    aktywne kampanie: {{ causes }}
</p>
<hr class="mt-0 mb-4">
<div class="row">
    <div class="col-sm">
        <form method="post" id="form-activity">
            {% csrf_token %}
            <div class="form-group">
                <div id="div_id_online" class="custom-control custom-switch">
                    {{ form_activity.online|as_crispy_field }}
                </div>
            </div>
            <div class="form-group">
                <div id="div_id_busy" class="custom-control custom-switch">
                    {{ form_activity.busy|as_crispy_field }}
                </div>
            </div>
        </form>
        {# crispy form_activity #}
    </div>
    <div class="col-sm">
        {% crispy form %}
    </div>
</div>
{% endblock %}
{% block javascript %}<script src="/static/therapists/js/profile.js"></script>{% endblock %}
