{% extends "generic.html" %}
{% load social_links %}
{% block title %}my allay - bezpłatna pomoc psychologiczna - {{ cause.name|title }}{% endblock %}
{% block head %} <link rel="stylesheet" href="/static/causes/css/therapists.css">{% endblock %}
{% block header_title %}Pomoc - {{ cause.name }}{% endblock %}
{% block content %}
<p class="description">
    Bezpłatna pomoc psychologiczna<br>
    {{ cause.description }}
</p>
<p>Ogólna liczba terapeutów: {{ count_all }}, online: {{ count_online }}, dostępni {{ count_available }}</p>
{% if no_therapists %}<p>Brak terapeutów w tym zadaniu</p>
{% elif no_therapists_online %}<p>Przykro nam. Żaden z terapeutów nie jest w tej chwili aktywny. Spróbuj za godzinę.</p>
{% elif no_therapists_available %}<p>Niedługo ktoś zakończy rozmowę. Odświeżaj stronę co kilka minut.<p>
{% endif %}
    <table class="table therapists table-hover"> 
        <tbody>
            <tr>
                <td colspan=5><button class="btn btn-light btn-block" id="reload_button">Odśwież</button></td>
            </tr>
            {% for therapist in therapists %}
            <tr{% if therapist.busy %} class="disabled" data-toggle="tooltip" data-placement="bottom"  title="rozmawia"{% endif %}>
                <td class="text-right">
                    <ul class="nav">
                        {% if therapist.phone_number %}
                        <li class="nav-item">
                            <a class="phone" href="tel:{{ therapist.phone_number }}">telefon&nbsp;</a>
                        </li>
                        {% if therapist.whatsapp %}
                        <li class="nav-item">
                            <a class="whatsapp" href="intent://send/{{ therapist.phone_number|whatsapp }}#Intent;scheme=smsto;package=com.whatsapp;action=android.intent.action.SENDTO;end">WhatsApp&nbsp;</a>
                        </li>
                        {% endif %}
                        {% endif %}
                        {% if therapist.messenger_id %}
                        <li class="nav-item">
                        <a class="messenger" href="https:m.me/{{ therapist.messenger_id }}">Messenger&nbsp;</a>
                        </li>
                        {% endif %}
                        {% if therapist.skype_id %}
                        <li class="nav-item">
                        <a class="messenger" href="skype:{{ therapist.skype_id }}?call">Skype&nbsp;</a>
                        </li>
                        {% endif %}
                    </ul>
                </td>
                <td>
                {{ therapist.user.first_name }} {{ therapist.user.last_name }}
                </td>
                <td class="specialisation">{{ therapist.specialisation_str }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script src="/static/causes/js/therapists.js"></script>
{% endblock %}
